<%- include('includes/head')%>
    <style>
        .fastload {
            display: none;
        }

    </style>

<body>
    <%- include('includes/sidebar') %>
    <div class="marginLeftMenu homeBox">
        <article class="headerHome">
            <div class="textBox">
                <h2><span>ERRO 404</span></h2>
                <p>Desculpe pelo transtorno : (</p>
            </div>
        </article>
    </div>
    </section>
<%- include('includes/footer')%>