<%- include('includes/head')%>
    <style>
        .fastload {
            display: none;
        }

    </style>

<body>
    <%- include('includes/sidebar') %>
    <div class="marginLeftMenu homeBox contact">
        <div class="mainContact">
            <div class="mainHeader">
                <div class="imgProfile"></div>
                <h2>Claudio Junior Olimpio</h2>
            </div>

            <div class="mainContentContact">
                <div class="aboutMe">
                    <span class="titleBox">Sobre mim</span>
                    <p class="textBoxContact">
                        Olá, me chamo Claudio, estou cursando analise e desenvolvimento de sistemas, sou um desenvolvedor front-end em busca de uma oportunidade para demonstrar meu valor. Estudo todos os dias e sinto um enorme prazer em ver as coisas funcionando do jeito que foram programadas pra ser. Meus conhecimentos são Javascript, css, html, express, node, mongoDb, python e git.
                    </p>
                </div>

                <div class="infoContact">
                    <span class="titleBox">Informações de contato</span>
                    <div>
                        <span class="subTitle">Email: </span>
                        <span>claudiojr2002@hotmail.com</span>
                    </div>
                    <div>
                        <span class="subTitle">Telefone: </span>
                        <span>(32) 9 9974-8210</span>
                    </div>
                    <div>
                        <span class="subTitle">GitHub: </span>
                        <a href="https://github.com/ClaudioProjects">https://github.com/ClaudioProjects</a>
                    </div>
                    <div>
                        <span class="subTitle">Linkedin: </span>
                        <a href="https://www.linkedin.com/in/claudio-junior-olimpio-324308227/">https://www.linkedin.com/in/claudio-junior-olimpio-324308227/</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
<%- include('includes/footer')%>