<%- include('includes/head')%>
    <style>
        .fastload {
            display: none;
        }

    </style>

<body>
    <%- include('includes/sidebar') %>
    <div class="marginLeftMenu homeBox">
        <article class="headerHome">
            <div class="textBox">
                <h2>Bem vindo ao <span>SmartList</span></h2>
                <p>Por favor crie ou abra uma lista, cliclando em minhas listas</p>
            </div>
        </article>
    </div>
    </section>
<%- include('includes/footer')%>