<%- include('includes/head')%>
    <style>
        .fastload {
            display: none;
        }

    </style>

<body>
    <%- include('includes/sidebar') %>
    <div class="marginLeftMenu textBox list">
        <h2><span>Suas Listas</span></h2>
        <div class="mainList">
            <%- include('includes/listas') %>
        </div>
    </div>
    </section>
<%- include('includes/footer')%>